{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="content-section">
        <h2>{{ roster }}</h2>
        {% for player in players %}
        <h6>{{player}}</h6>
        {% endfor %}
        <br>
        <div class="row">
            <div class="col">
                <h2>Add Player(s)</h2><br>

                <form method="post">
                    {% csrf_token %}
                    {{formset.management_form}}
                    {% for form in formset %}
                    <legend><small>Player</small></legend>
                    <div class="row">
                        <div class="col-6">{{ form.first_name|as_crispy_field }}</div>
                        <div class="col-6">{{ form.last_name|as_crispy_field }}</div>
                    </div>
                    {% endfor %}

                    <input type="submit" value="Submit Roster">
                </form>
            </div>
        </div>





    </div>
</div>

{% endblock content %}