{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="content-section">

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <h2>{{ roster }}</h2><br>


        {% for player in players %}
        <h6>{{ player.player }}</h6>
        {% endfor %}

        <br>
        {% if roster.team.team.owner == user or perms.league.league_admin %}
        <h6><a href="{% url 'roster-edit-copy' roster.team.team.name roster.team.season.season.year roster.pk %}">Copy Players from Existing Roster</a></h6>
        <h6><a href="{% url 'roster-edit-add' roster.team.team.name roster.team.season.season.year roster.pk %}">Add Existing Players</a></h6>
        <h6><a href="{% url 'roster-edit-create' roster.team.team.name roster.team.season.season.year roster.pk %}">Add New Players</a></h6>
        <h6><a href="{% url 'roster-edit-remove' roster.team.team.name roster.team.season.season.year roster.pk %}">Remove Player</a></h6>
        {% else %}
        <h1></h1>
        {% endif %}
    </div>
</div>

{% endblock content %}