{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="content-section">
        <h2>Existing Rosters:</h2>
        {% for roster in rosters %}
        <h4>{{roster}}</h4>
        {% endfor %}
        <br><br>
        <h2>Create a Roster:</h2>




        <form method="post">
            {% csrf_token %}
            {{form|crispy}}

            <input type="submit" value="Create Roster" class="btn btn-primary">
        </form>

    </div>
</div>

{% endblock content %}