{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="content-section">
        <h2>{{ roster }}</h2>
        {% for player in players %}
        <h6>{{player}}</h6>
        {% endfor %}
        <br>
        <div class="row">
        <div class="col-6">
        <h2>Add Players</h2><br>
        <!--<form>{{formset|crispy}}</form>-->
        <form method="post">
            {% csrf_token %}
            {{formset.management_form}}
            {% for form in formset %}
                {{ form|crispy }}
            {% endfor %}

            <input type="submit" value="Submit Roster">
        </form>
        </div>
        <div class="col-6">
            <legend><small>Can't find player? Create Player Here:</small></legend>

        </div>
        </div>
    </div>
</div>

{% endblock content %}