{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="content-section">
        <h2>{{ roster }}</h2>
        {% for player in players %}
        <h6>{{player}}</h6>
        {% endfor %}
        <br>

        <h2>Remove Players</h2><br>
        <legend><small>Select Players you want to remove from the roster.</small></legend>
        <form method="post">
            {% csrf_token %}
            {{formset.management_form}}
            {% for form in formset %}
                {{ form|crispy }}
            {% endfor %}

            <input type="submit" name="remove"value="Remove Players" class="btn btn-danger">
            <input type="submit" name="remove_and_continue" value="Remove Players2" class="btn btn-danger">
            <button class="btn btn-primary">Button</button>
            <br><br>
        </form>
    </div>
</div>

{% endblock content %}