{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="content-section">
            <h2>{{ roster }}</h2>
            <legend><small>Select a player you want to remove from the roster.</small></legend>
            {% for player in players %}
            <h6>
                <a href="{% url 'roster-edit-delete-playerseason' roster.team.team.name roster.team.season.season.year roster.pk player.pk %}">
                    {{player}}
                </a>
                </h6>
            {% endfor %}
            <br>
        </div>
    </div>
{% endblock content %}