{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <title>Sports Site</title>
  </head>
  <body>

      <!-- NAVIGATION BAR -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar_custom">

        <div class="d-flex flex-row justify-content-start">
        <!-- Dropdown hamburger menu -->
            <div class="dropdown">
                <button class="btn navbar_dropdown_btn_colour dropdown" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="dropdown-menu dropdown_custom" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item text-white drop-item header-link" href="{% url 'news-page' %}?league={{request.GET.league}}">News</a>
                    <a class="dropdown-item text-white drop-item header-link" href="#">Teams</a>
                    <a class="dropdown-item text-white drop-item header-link" href="#">Stats</a>
                    <a class="dropdown-item text-white drop-item header-link" href="#}">Standings</a>
                    <a class="dropdown-item text-white drop-item header-link" href="#">Schedule</a>
                </div>
            </div>
        </div>

        <!--Navbar Logo-->
        <div class="d-flex flex-row justify-content-center">
            {% if user.is_authenticated %}
            <a class="navbar-text header-link p-2" href="{% url 'news-home' %}?league={{user.userprofile.league.url}}" title="Home">{{user.userprofile.league}}</a>
            {% elif league.name %}
            <a class="navbar-text header-link p-2" href="{% url 'news-home' %}?league={{request.GET.league}}" title="Home">{{league.name}}</a>
            {% else %}
            <a class="navbar-text header-link p-2" href="{% url 'news-home' %}?league={{request.GET.league}}" title="Home">{{request.GET.league}} {{league.name}}</a>
            {% endif %}
        </div>


        <div class="d-flex flex-row justify-content-end ms-auto p-2">
            <!--LeagueAdminOptions-->
            {% if perms.league.league_admin %}
            <div class="dropdown">
                <button class="btn navbar_dropdown_btn_colour dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="navbar-text header-link">{{user}}</span>
                </button>
                <div class="dropdown-menu dropdown_custom" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item text-white drop-item navbar-text header-link p-2" href="{% url 'league-admin-dashboard'%}">Dashboard</a>
                    <a class="dropdown-item text-white drop-item navbar-text header-link p-2" href="{% url 'news-create'%}">New Article</a>
                    <a class="dropdown-item text-white drop-item navbar-text header-link p-2" href="{% url 'league-admin-roster-select' %}">Rosters</a>
                    <a class="dropdown-item text-white drop-item navbar-text header-link p-2" href="{% url 'league-admin-season' %}">Seasons</a>
                    <a class="dropdown-item text-white drop-item navbar-text header-link p-2" href="{% url 'league-admin-schedule-select'%}">Add Stats</a>
                </div>
            </div>
            <a class="navbar-text header-link p-2" href="{% url 'logout' %}">Logout</a>


            {% elif user.is_authenticated %}
        <!-- Team Admin User Options -->
            <div class="dropdown">
                <button class="btn navbar_dropdown_btn_colour dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="navbar-text header-link">{{user}}</span>
                </button>

                <div class="dropdown-menu dropdown_custom" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item text-white drop-item navbar-text header-link p-2" href="{% url 'roster-select' %}">Roster Edit</a>
                    <a class="dropdown-item text-white drop-item navbar-text header-link p-2" href="#">Add Stats</a>
                </div>
            </div>
            <a class="navbar-text header-link p-2" href="{% url 'logout' %}">Logout</a>

            {% else %}
            <a class="navbar-text header-link" href="{% url 'login' %}">Login</a>
            {% endif %}

        </div>



    </nav>




    {% block content %}{% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>