{% extends "news/base.html" %}
{% block content %}

<div class="container-lg">
    <div class="row gy-3 justify-content-around">

        <!--Main News Column-->
        <div class="col-12 col-md-8 bg-light">
            <div class="row justify-content-center">
                <div class="">
                    <img class="img-fluid" height="300" width="300" src="{{ articles.0.image.url  }}">
                    <h1>
                        <a href="{% url 'news-detail' articles.0.slug %}" class="article-headline">
                            {{articles.0.headline}}
                        </a>
                    </h1>
                    <h6>{{articles.0.date_posted}}</h6>
                    <p>{{articles.0.body|truncatewords:20}}</p>
                </div>
            </div>
        </div>


        <!--Latest News Column-->
        <div class="col-12 col-md-3 bg-light">
            <h6 class="border-bottom"><a class="article-headline" href="{% url 'news-page' %}">LATEST NEWS</a></h6>
            <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'news-detail' article.slug %}" class="article-headline">
                        {{article.headline}}
                    </a>
                </li>
            {% endfor %}
            <ul>
        </div>

    </div>
</div>

{% endblock content %}