{% extends "news/base.html" %}

{% block head %}
    <!--Swiper CSS-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <style>
    .swiper {
        /*width: 600px;*/
        height: auto;
    }
    .swiper-slide {
        height: auto;
        width: auto;
    }
    </style>


    <!--BxSlider Jquery CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />

{% endblock head %}

{% block content %}

<!--Swiper JS-->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>


<!-- Slider main container -->
{% regroup schedule by date as schedy %}
<div class="swiper mySwiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for date in schedy %}
    <div class="swiper-slide swiper-ticker-date">
        <h6 class="text-center" id="{{date.grouper}}">
            <b>{{date.grouper|date:"D"}}</b><br>
            <b>{{date.grouper|date:"M d"}}</b><br>
            <b>{{date.grouper.year}}</b><br>
        </h6>
    </div>
        {% for game in date.list %}
        <div class="swiper-slide">
            <table class="">
                <tr>
                    {% if game.home_score %}
                        <th colspan="2">
                            <a href="{% url 'game-boxscore-page' game.pk %}"
                                class="sport-ticker-link">
                                FINAL
                            </a>
                            </th>
                    {% else %}
                        <th colspan="2"><a>{{game.start_time}}</a></th>
                    {% endif %}

                </tr>
                <tr>
                    <td>{{game.away_team.team.abbreviation}}</td>
                    <td>{{game.away_score}}</td>
                </tr>
                <tr>
                    <td>{{game.home_team.team.abbreviation}}</td>
                    <td>{{game.home_score}}</td>
                </tr>
            </table>
        </div>
        {% endfor %}
    {% endfor %}
    <div class="swiper-slide">See All Games</div>
  </div>
  <!-- If we need pagination -->
  <!--<div class="swiper-pagination"></div>-->

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        freeMode: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // Default
        slidesPerView: 5,
        slidesPerGroup: 5,
        spaceBetween: 1,


        // BreakPoints
        breakpoints: {
            320: {
                slidesPerView: 3,
                slidesPerGroup: 3,
                spaceBetween: 1
            },
            480: {
                slidesPerView: 4,
                slidesPerGroup: 4,
                spaceBetween: 1
            },

            640: {
                slidesPerView: 5,
                slidesPerGroup: 5,
                spaceBetween: 1
            },

            800:{
                slidesPerView: 6,
                slidesPerGroup: 6,
                spaceBetween: 1
            },

            960: {
                slidesPerView: 7,
                slidesPerGroup: 7,
                spaceBetween: 1
            },

            1120: {
                slidesPerView: 8,
                slidesPerGroup: 8,
                spaceBetween: 1
            }
        }

    });
</script>



<br><br><br>
<!--TEST JQUERY BX SLIDER-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.bxslider').bxSlider({
            infiniteLoop: false,
            hideControlOnEnd: true,
            pager: false,
            });

    });
</script>

{% regroup schedule by date as schedy %}
<ul class="bxslider">
    {% for date in schedy %}
    <li>
        <div class="row justify-content-center">
            <div class="col-auto">
        <table id="{{date.grouper}}" class="sport-ticker">
            <tr>
                <th class="sport-ticker" colspan="1">{{date.grouper}}</th>
            </tr>

            <tr>
                <td>
                    <table class="sport-ticker-inside">
                        <tr>
                        {% for game in date.list %}
                            {% if game.home_score %}
                                <th class="sport-ticker-inside" colspan="2">
                                    <a href="{% url 'game-boxscore-page' game.pk %}"
                                       class="sport-ticker-link">
                                        FINAL
                                    </a>
                                </th>
                            {% else %}
                                <th class-"sport-ticker-inside" colspan="2"><a>{{game.start_time}}</a></td>
                            {% endif %}

                        {% endfor %}
                        </tr>

                        <tr>
                        {% for game in date.list %}
                            <td class="sport-ticker-inside">{{game.away_team.team.abbreviation}}</td>
                            <td class="sport-ticker-inside">{{game.away_score}}</td>
                        {% endfor %}
                        </tr>
                        <tr>
                        {% for game in date.list %}
                            <td class="sport-ticker-inside">{{game.home_team.team.abbreviation}}</td>
                            <td class="sport-ticker-inside">{{game.home_score}}</td>
                        {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
        </div>
        </div>

    </li>
    {% endfor %}
</ul>


<a href="#June 27, 2021">Link</a>
{% regroup schedule by date as schedy %}
<div class="sport-ticker">
    {% for date in schedy %}
        <table id="{{date.grouper}}" class="sport-ticker">
            <tr>
                <th class="sport-ticker" colspan="1">{{date.grouper}}</th>
            </tr>

            <tr>
                <td>
                    <table class="sport-ticker-inside">
                        <tr>
                        {% for game in date.list %}
                            {% if game.home_score %}
                                <th class="sport-ticker-inside" colspan="2">
                                    <a href="{% url 'game-boxscore-page' game.pk %}"
                                       class="sport-ticker-link">
                                        FINAL
                                    </a>
                                </th>
                            {% else %}
                                <th class-"sport-ticker-inside" colspan="2"><a>{{game.start_time}}</a></td>
                            {% endif %}

                        {% endfor %}
                        </tr>

                        <tr>
                        {% for game in date.list %}
                            <td class="sport-ticker-inside">{{game.away_team.team.abbreviation}}</td>
                            <td class="sport-ticker-inside">{{game.away_score}}</td>
                        {% endfor %}
                        </tr>
                        <tr>
                        {% for game in date.list %}
                            <td class="sport-ticker-inside">{{game.home_team.team.abbreviation}}</td>
                            <td class="sport-ticker-inside">{{game.home_score}}</td>
                        {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    {% endfor %}
</div>



<div class="container-lg">
    <div class="row justify-content-center">


        <!--CENTER COLUMN: Main News Column-->
        <div class="align-self-start border me-md-2 mb-2 col-12 col-md-8 bg-light">
                {% if articles %}
                    <img class="img-fluid" height="300" width="300" src="{{ articles.0.image.url }}">
                    <h1>
                        <a href="{% url 'news-detail' articles.0.slug %}?league={{request.GET.league}}" class="article-headline">
                            {{articles.0.title}}
                        </a>
                    </h1>
                    <h6>{{articles.0.date_posted}}</h6>
                    <p>{{articles.0.body|truncatewords:20}}</p>
                {% endif %}
        </div>


        <!--RIGHT COLUMN: Latest News Column-->
        <div class="align-self-start border ms-md-2 mb-2 col-12 col-md-3 bg-light">
            <h6 class="border-bottom"><a class="article-headline"
                href="{% url 'news-page' %}?league={{request.GET.league}}">LATEST NEWS</a></h6>
            <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'news-detail' article.slug %}?league={{request.GET.league}}" class="article-headline">
                        {{article.title}}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>

        <!--Rest of the News Column Articles-->
        <div class="align-self-start border me-md-2 mb-2 col-12 col-md-8 bg-light">
            {% for article in articles|slice:"1:6" %}
            <div class="border-bottom">
                <img class="img-fluid" height="300" width="300" src="{{article.image.url}}">
                <h1>
                    <a href="{% url 'news-detail' article.slug %}?league={{request.GET.league}}" class="article-headline">
                        {{article.title}}
                    </a>
                </h1>
                <h6>{{article.date_posted}}</h6>
                <p>{{article.body|truncatewords:20}}</p>
            </div>
            {% endfor %}
        </div>

        <!--Spacing Purposes right side///LEAGUE LEADERS-->
        {% if stats %}
        <div id="LeagueLeaders" class="align-self-start border ms-md-2 my-md-2 col-12 col-md-3 bg-light">
            <h6 class="border-bottom"><a class="article-headline"
                href="{% url 'stats-page' %}?league={{request.GET.league}}">LEAGUE LEADERS</a></h6>

            <div class="">
                <div class="row">
                    <div class="col-12">
                        <p>Batting Average</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-8">
                        <h6>
                            <a class="article-headline"
                               href="{% url 'player-page' avg.player_id %}?league={{request.GET.league}}">{{avg.first}} {{avg.last}}</a>
                        </h6>
                    </div>
                    <div class="col-4">
                        <h3>{{avg.average}}</h3>
                    </div>
                </div>
                <div class="row  border-bottom">
                    <div class="col-12">
                        <p>{{avg.team}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p>Home Runs</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-8">
                        <h6>
                            <a class="article-headline"
                               href="{% url 'player-page' homeruns.player_id %}?league={{request.GET.league}}">{{homeruns.first}} {{homeruns.last}}</a>
                        </h6>
                    </div>
                    <div class="col-4">
                        <h3>{{homeruns.homeruns}}</h3>
                    </div>
                </div>
                <div class="row  border-bottom">
                    <div class="col-12">
                        <p>{{homeruns.team}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p>Runs Batted In</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-8">
                        <h6>
                            <a class="article-headline"
                               href="{% url 'player-page' runs_batted_in.player_id %}?league={{request.GET.league}}">{{runs_batted_in.first}} {{runs_batted_in.last}}</a>
                        </h6>
                    </div>
                    <div class="col-4">
                        <h3>{{runs_batted_in.runs_batted_in}}</h3>
                    </div>
                </div>
                <div class="row  border-bottom">
                    <div class="col-12">
                        <p>{{runs_batted_in.team}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p>Stolen Bases</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-8">
                        <h6>
                            <a class="article-headline"
                               href="{% url 'player-page' stolen_bases.player_id %}?league={{request.GET.league}}">{{stolen_bases.first}} {{stolen_bases.last}}</a>
                        </h6>
                    </div>
                    <div class="col-4">
                        <h3>{{stolen_bases.stolen_bases}}</h3>
                    </div>
                </div>
                <div class="row  border-bottom">
                    <div class="col-12">
                        <p>{{stolen_bases.team}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p>Runs</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-8">
                        <h6>
                            <a class="article-headline"
                               href="{% url 'player-page' runs.player_id %}?league={{request.GET.league}}">{{runs.first}} {{runs.last}}</a>
                        </h6>
                    </div>
                    <div class="col-4">
                        <h3>{{runs.runs}}</h3>
                    </div>
                </div>
                <div class="row  border-bottom">
                    <div class="col-12">
                        <p>{{runs.team}}</p>
                    </div>
                </div>


            </div>
        </div>
        {% endif %}

    </div>
</div>
<br><br><br><br>

{% endblock content %}