{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="content-section">
            {% if perms.league.league_admin %}
            <h2>Adds Stats for: {{game.date}} {{team_season.team}}</h2>
            <br><br>
            <legend><small>Edit stats below</small></legend>
            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                {% crispy formset helper %}

                <br><br>
                <div class="form-actions">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>

                {% for hidden in formset.hiden_fields %}
                {{hidden}}
                {% endfor %}
            </form>

            {% else %}
            <h2>Access Denied</h2>
            {% endif %}
            <br><br>
        </div>
    </div>
{% endblock content %}