{% extends "news/base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="container-fluid">
    <div class="content-section">

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}




        <h4>Player Profile:</h4>

        <div class="row">
            <h1>{{player.first_name}} {{player.last_name}}</h1>
        </div>
        <div class="row">
            <h6>Birthdate: {{player.birthdate}}</h6>
            <h6>Height: {{player.height_feet}}' {{player.height_inches}}"</h6>
            <h6>Weight: {{player.weight}}lbs</h6>
            <h6>B/T: {{player.bats}}/{{player.throw}}</h6>
        </div>



    </div>
</div>

{% endblock content %}