{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="content-section">
            <h2>League Stats Options</h2>
            <br>
            <h5>{{options.stat_options}}</h5>
            <br>
            {% if options %}
            <a class="btn btn-primary"
                    href="{% url 'league-admin-options-update' options.pk %}">
                    Edit
            </a>
            {% else %}
            <a class="btn btn-primary"
                    href="#">
                    Create
            </a>
            {% endif %}
            <br><br>
        </div>
    </div>
{% endblock content %}