{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="content-section">


        <legend><small>Use form below to search for a Player in your league.</small></legend>


        <form method="get">
            {{filter.form|crispy}}
            <input type="submit" value="Submit" class="btn btn-primary">

            <a class="btn btn-primary"
                href="{% url 'league-admin-player-create' %}">Create Player
            </a>
        </form>


        <br><br>


        <h1>Players:</h1>


        {% for player in all_players %}
            <h6>
                <a href="{% url 'league-admin-player-edit' player.pk %}">
                    {{player}}
                </a>
            </h6>
        {% endfor %}


        <br><br>

        {% if all_players.has_other_pages %}
                <ul class="pagination">
                {% if all_players.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ all_players.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}

                {% for i in all_players.paginator.page_range %}
                    {% if all_players.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if all_players.has_next %}
                    <li class="page-item"><a class="page-link "href="?page={{ all_players.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
                </ul>
        {% endif %}


    </div>
</div>
{% endblock content %}