{% extends "news/base.html" %}
{% block content %}
<div class="container">
    <div class="content-section">

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <h2>Schedule:</h2>
        <legend><small>Click on an existing game to edit.</small></legend>
        {% for game in schedule %}
        <h6>
            <a href="{% url 'league-admin-game-edit' season_year season_stage_pk game.pk %}">{{game}}</a>
        </h6>
        {% endfor %}

        <br><br>
        <h6>
            <small>
            <a href="{% url 'league-admin-schedule-create' season_year season_stage_pk %}">Add Games</a>
            </small>
        </h6>




    </div>
</div>

{% endblock content %}