{% extends "news/base.html" %}
{% block content %}
<div class="container">
    <div class="content-section">

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}



        {% if perms.league.league_admin and stage.season.league == request.user.userprofile.league %}



        <h2>Schedule:</h2>
        <legend><small>Click on an existing game to edit.</small></legend>
        {% for game in schedule %}
        <h6>
            <a href="{% url 'league-admin-game-edit' season_year season_stage_pk game.pk %}">{{game}}</a>
        </h6>
        {% endfor %}

        <br><br>

        <a class="btn btn-primary"
            href="{% url 'league-admin-schedule-create' season_year season_stage_pk %}">
            Add Games
        </a>

        <a class="btn btn-danger"
            href="{% url 'league-admin-schedule-delete-info' season_year season_stage_pk %}">
            Delete
        </a>

        {% else %}
        <h2>Access Denied</h2>
        <h3>You Don't Own <b>{{stage.season.league}}</b>'s <b>{{stage}}</b></h3>


        {% endif %}






    </div>
</div>

{% endblock content %}