{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="content-section">
        <h2>Existing Seasons:</h2>
        {% for season in seasons %}
        <h4>{{season}}</h4>
        {% endfor %}
        <br><br>
        <h2>Create a Season:</h2>




        <form method="post">
            {% csrf_token %}
            {{form|crispy}}

            <input type="submit" value="Create Season" class="btn btn-primary">
        </form>

    </div>
</div>

{% endblock content %}