{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="content-section">
        <h2>Create a Team:</h2>
        <legend><small>To add player to a team/roster, use roster menu.</small></legend>


        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="submit" value="Create Team" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock content %}