{% extends "news/base.html" %}
{% block content %}
<div class="container">
    <div class="content-section">

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <h2>{{ team }}:</h2>
        {% for team_season in team_seasons %}
        <h6>
            <a href="{% url 'league-admin-team-season-info' team_season.season.season.year team_season.season.season.pk team_season.season.pk team_season.team.name team_season.pk %}">
                {{team_season}}
            </a>
        </h6>
        {% endfor %}

        <br><br>
        <a class="btn btn-danger" href="{% url 'league-admin-team-delete' team.pk %}">Delete {{team}}</a>





    </div>
</div>

{% endblock content %}