{% extends "news/base.html" %}
{% block content %}
<div class="container">
    <div class="content-section">

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <h2>Team User Accounts:</h2>
        <legend><small>Click on a user to set their permissions</small></legend>

        <table>
            <tr>
                <th>User</th>
                <th>Team</th>
            </tr>
        {% for team in teams %}
            <tr>
                <td><h6><a href="{% url 'league-admin-user-info' team.owner team.owner.pk %}">{{team.owner}}</a></h6></td>
                <td>{{team}}</td>
            </tr>
        {% endfor %}
        </table>

    </div>
</div>

{% endblock content %}