/*.average, .walks, .stolen-bases, .runs, .at_bats {*/
/*  border-left: 2px solid #BEBEBE;*/
/*}*/


/*.player_name {*/
/*  position -webkit-sticky;*/
/*  position: sticky;*/
/*  left: 0;*/
/*  z-index: 1;*/
/*  background-color: #fff;*/
/*}*/
/*.even td:first-child {*/
/*  position: sticky;*/
/*  left: 0;*/
/*  z-index: 1;*/
/*  background-color: #fff;*/
/*}*/
/*.odd td:first-child {*/
/*  position: sticky;*/
/*  left: 0;*/
/*  z-index: 1;*/
/*  background-color: #fff;*/
/*}*/

html {
    background-color: rgb(240,240,240);
}

body {
    padding-top: 90px;
    background-color: rgb(240,240,240);
}

.navbar {
  background-image: none;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
background-color: #69899f;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
color: #d7e2e9;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {

color: #e5dbdb;

background-color: #425766;
}

/*NAVBAR CSS*/
.navbar {
  background-image: none;
}
.navbar_custom {
  background-color: #1a4ea6;
}
.dropdown_custom {
  background-color: #1a4ea6;
}
.navbar_dropdown_btn_colour {
  background-color: #1a4ea6;
}
/*HEADER*/
.hb_color{
  background-color: #1a4ea6;
  color: #fff;
}
.drop-item:hover {
  background-color: #007bff;
}

.header-link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(204,210,217);
}

.header-link:hover {
    color: #fff;
}

/*NEWS ARTICLE*/
.article-headline {
    text-decoration: none;
    color: rgb(0,0,0);
}

.article-headline:hover {
    color: #1a4ea6;
}