html {
    background-color: rgb(255,255,255);
}

body {
    background-color: rgb(255,255,255);
}

/*LANDING CONTAINERS*/
.container-one {
    padding-top: 150px;
    background-color: rgb(255,255,255);
}


.container-two {
    width: 100vw;
    /*padding-top: 350px;*/
    background-color: rgb(50,50,50);
    /*position: absolute;*/
    /*left: 0;*/
    /*margin: 0;*/
    margin-top: 350px;
}

.navbar {
  background-image: none;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
background-color: #69899f;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
color: #d7e2e9;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {

color: #e5dbdb;

background-color: #425766;
}

/*NAVBAR CSS*/
.navbar {
  background-image: none;
}
.navbar_custom {
  background-color: #1a4ea6;
}
.dropdown_custom {
  background-color: #1a4ea6;
}
.navbar_dropdown_btn_colour {
  background-color: #1a4ea6;
}
/*HEADER*/
.hb_color{
  background-color: #1a4ea6;
  color: #fff;
}
.drop-item:hover {
  background-color: #007bff;
}

.header-link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(204,210,217);
}

.header-link:hover {
    color: #fff;
}